  
<div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    @using (Ajax.BeginForm("ChangeMyPassword", new { controller = "Accounts", area = "Configuration" },
        new AjaxOptions
        {
            UpdateTargetId = "PopupMsg",
            OnSuccess= "success",
            InsertionMode = InsertionMode.Replace,
            OnBegin = "ShowLoading(1)",
            OnComplete = "showPopUpResult",

        }))
    {

        <div class="modal-dialog" style="max-width:800px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">@Tax_Tech.Resources.Resource.ChangePassword</h4>
                    <button type="button" class="close" onclick="DismissPopup()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Create New Form Controls -->
                <div class="modal-body">
                    <div id="PopupMsg"></div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-label" for="password">@Tax_Tech.Resources.Resource.CurrentPassword<span class="text-danger">*</span> </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group input-group-merge form-password-toggle">
                                    <input class="form-control form-control-merge" id="Oldpassword" type="password" name="Oldpassword" placeholder="@Tax_Tech.Resources.Resource.CurrentPassword" aria-describedby="password" tabindex="4" />
                                    <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-label" for="password">@Tax_Tech.Resources.Resource.Password<span class="text-danger">*</span> </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group input-group-merge form-password-toggle">
                                    <input class="form-control form-control-merge" id="password" type="password" name="password" placeholder="@Tax_Tech.Resources.Resource.Password" aria-describedby="password" tabindex="4" />
                                    <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-label" for="Confirmpassword">@Tax_Tech.Resources.Resource.ConfirmPassword<span class="text-danger">*</span> </label>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group input-group-merge form-password-toggle">
                                    <input class="form-control form-control-merge" id="Confirmpassword" type="password" name="Confirmpassword" placeholder="@Tax_Tech.Resources.Resource.ConfirmPassword" aria-describedby="password" tabindex="5" />
                                    <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary btn-block" tabindex="4" id="subBtn-1">@Tax_Tech.Resources.Resource.ChangePassword</button>
                            <button id="loadBtn-1" class="btn btn-outline-primary waves-effect hidden btn-load" style="width:100%" type="button" disabled="">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="ml-25 align-middle">@Tax_Tech.Resources.Resource.Loading...</span>
                            </button>

                        </div>
                    </div>

                </div>
                </div>
        </div>
    }




</div>
