@model Tax_Tech.ViewModels.FilterViewModel
<form id="ExportBySearch">
    <input type="hidden" id="StartDate" value="@Model.StartDate" />
    <input type="hidden" id="EndDate" value="@Model.EndDate" />
    <input type="hidden" id="DocumentType" value="@Model.DocumentType" />
    <input type="hidden" id="ProcessStatusID" value="@Model.ProcessStatusID" />
    <input type="hidden" id="EntityID" value="@Model.EntityID" />


</form>
