

<div class="modal fade text-left" id="default" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">@Tax_Tech.Resources.Resource.RejectDoc</h4>
                <button type="button" class="close" onclick="DismissPopup()" id="addNewPaymentModalClose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Create New Form Controls -->
            <div id="PopupMsg"></div>
            <div class="modal-body">

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label" for="Reason">@Tax_Tech.Resources.Resource.Reason</label>
                        <textarea class="form-control" placeholder="@Tax_Tech.Resources.Resource.Reason" tabindex="1" id="Reason" name="Reason"></textarea>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="form-group col-md-12">
                        <button type="button" onclick="rejectDocs(event)" class="btn btn-primary" id="subBtn-1" tabindex="7">@Tax_Tech.Resources.Resource.Confirm</button>
                        <div class="form-group">
                            <button id="loadBtn-1" class="btn btn-outline-primary waves-effect hidden" type="button" disabled="">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="ml-25 align-middle">@Tax_Tech.Resources.Resource.Loading...</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>