@model IEnumerable<Tax_Tech.ApiModels.EReceiptApi.EReceiptLogsModel>
@using PagedList
@using PagedList.Mvc

@{ int? totalCount = Model.FirstOrDefault()?.TotalCount, totalPages = 1;


    int? pageNo = ViewBag.PageNo;
    int? pageSize = ViewBag.PageSize;
    long JobID = Convert.ToInt64(ViewBag.JobID);
    if (totalCount != null && totalCount != 0)
    {
        int? qotient = (totalCount / pageSize);
        totalPages = qotient == 0 ? 1 : qotient;
    } }

<section id="basic-datatable">
    <div class="row">
        <div class="content-body col-md-12">
            <div class="card">
                <div class="card-datatable">
                    <table class="table table-striped table-responsive-lg table-bordered" id="thebasic-datatable">
                        <thead>
                            <tr>
                                @*<th width="20%">@Tax_Tech.Resources.Resource.LogID</th>*@
                                <th width="25%">@Tax_Tech.Resources.Resource.LogDatetime</th>
                                <th width="25%">@Tax_Tech.Resources.Resource.Status</th>
                                <th width="50%">@Tax_Tech.Resources.Resource.EReceiptData</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>

                                        @*<td width="50%">

                            </td>*@
                                        <td width="25%">
                                            @item.LogDatetime

                                        </td>
                                        <td width="25%">
                                            <div><span style="color: #2196F3;">@Tax_Tech.Resources.Resource.SubmitStatus</span>:@item.SubmitStatusTitle</div>
                                            <div><span style="color: #2196F3;">EReceiptStatus</span>:@item.EReceiptStatus</div>
                                            <div><span style="color: #2196F3;">@Tax_Tech.Resources.Resource.EReceiptSource</span>:@item.Source</div>
                                        </td>
                                        <td width="50%">
                                            <div><span style="color: #2196F3;">@Tax_Tech.Resources.Resource.EReceiptNumber</span>: @item.EReceiptNumber</div>
                                            <div style="width: 250px !important;"><span style="color: #2196F3;">@Tax_Tech.Resources.Resource.UUID</span>: @item.UUID</div>
                                            <div style="width: 250px !important;"><span style="color: #2196F3;">@Tax_Tech.Resources.Resource.QRCode</span>: @item.QRCode</div>
                                            <div style="width: 250px !important;"><span style="color: #2196F3;">@Tax_Tech.Resources.Resource.ETAQRCode</span>: @item.ETAQRCode</div>
                                            <div style="width: 250px !important;"><span style="color: #2196F3;">@Tax_Tech.Resources.Resource.ETAUUID</span>: @item.ETAUUID</div>

                                        </td>


                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10">
                                        <h5 class="text-center">@Tax_Tech.Resources.Resource.NoDataAvailable</h5>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" onclick="OnGetRefundWithPagination(1,100)" href="javascript:void(0)">
                                    @Tax_Tech.Resources.Resource.Previous
                                </a>
                            </li>
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(i == pageNo ? "active" : "")">
                                    <a class="page-link" onclick="OnGetRefundWithPagination(@i,100)" href="javascript:void(0)">
                                        @i
                                    </a>
                                </li>
                            }
                            <li class="page-item">
                                <a class="page-link" onclick="OnGetRefundWithPagination(@(pageNo < totalPages ? pageNo + 1 : totalPages),100)" href="javascript:void(0)">
                                    @Tax_Tech.Resources.Resource.Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



