
@{
    ViewBag.Title = Tax_Tech.Resources.Resource.PendingApproval;
}

<section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div id="errMsg">
                    </div>
                    <div class="dt-action-buttons text-left d-flex">
                        <button class="btn btn-success" style="margin-left: 10px;" id="btnAllApprove" onclick="ApproveAll()">@Tax_Tech.Resources.Resource.Approve</button>
                        <button class="btn btn-success" style="margin-left: 10px;" disabled id="btnApproveAll" onclick="changeStatusBulk('approve')">@Tax_Tech.Resources.Resource.ApproveSelected</button>
                        <button class="btn btn-danger" disabled style="margin-left: 10px;" id="btnRejectAll" onclick="getRejectBulkInvoicePopup()">@Tax_Tech.Resources.Resource.RejectSelected</button>
                         
                        <div class="btn-group" style="margin-left: 10px;">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Tax_Tech.Resources.Resource.QuickFilter
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);" onclick="getPendingInvoices()">@Tax_Tech.Resources.Resource.AllInvoices</a>
                             </div>
                        </div>
                        <div class="btn-group" style="margin-left: 10px;">
                            <button type="button" class="btn btn-outline-secondary" onclick="getFilterFormPopup()">
                                @Tax_Tech.Resources.Resource.Search
                            </button>
                        </div>
                        
                        <div id="main-err"></div>
                    </div>
                </div>
                
                <div class="card-body mt-3" id="list">
                    <h4 class="text-center">@Tax_Tech.Resources.Resource.Loading...</h4>
                </div>

            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Scripts/Custom/Invoice.js"></script>
<script src="~/Scripts/Custom/PendingDocsBulkAction.js"></script>

<script>
    window.addEventListener('load', function () {
        getPendingInvoices('@ViewBag.PageNo', '@ViewBag.PageSize');
    });
</script>
