@model List<Tax_Tech.Areas.Configuration.ViewModels.LogsViewModel>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-responsive-xl table-bordered" id="thebasic-datatable">
    <thead>
        <tr>
            <th>@Tax_Tech.Resources.Resource.DocID</th>
            <th>@Tax_Tech.Resources.Resource.Date</th>
            <th>@Tax_Tech.Resources.Resource.Request</th>
            <th>@Tax_Tech.Resources.Resource.Response</th>
            <th>@Tax_Tech.Resources.Resource.Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
        <tr>
            <td>@item.DocID</td>
            <td>@Convert.ToDateTime(item.RequestDate).ToShortDateString()</td>
            <td>@item.request</td>
            <td>@item.Response</td>
            <td>
                @{ if (item.IsSucceeded)
        {
            <span class="text-success">@Tax_Tech.Resources.Resource.Success</span>
}
else
{
            <span class="text-danger">@Tax_Tech.Resources.Resource.Fail</span>
}}
               
            </td>
        </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        <h5 class="text-center">@Tax_Tech.Resources.Resource.NoDataAvailable</h5>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
