@model List<Tax_Tech.ApiModels.VendorTotals>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-responsive-xl table-bordered" id="thebasic-datatable">
    <thead>
        <tr>
            <th>@Tax_Tech.Resources.Resource.VendorName</th>
            <th>@Tax_Tech.Resources.Resource.DocNo</th>
            <th>@Tax_Tech.Resources.Resource.TaxTotal</th>
            <th>@Tax_Tech.Resources.Resource.TotalAmount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.VendorName</td>
                        <td>@item.DocCount</td>
                        <td>@item.TaxSum</td>
                        <td>@item.TotalAmount</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        <h5 class="text-center">@Tax_Tech.Resources.Resource.NoDataAvailable</h5>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
