@using Tax_Tech.Helpers;
@{
    ViewBag.Title = @Tax_Tech.Resources.Resource.ForgetMyPassword;
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    string EntityID = ViewBag.ent;
}
<div class="col-md-3 col-12"></div>

<div class="col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> @Tax_Tech.Resources.Resource.ResetYourPassword</h4>
        </div>
        <div class="card-body">
            @{ if (ViewBag.email != null)
        {
            using (Ajax.BeginForm("ChangePasswordByCode", new { controller = "Accounts", area = "" },
new AjaxOptions
{
    UpdateTargetId = "Msg",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "ShowLoading(1)",
    OnComplete = "HideLoading(1)",

}
))
            {
                <div class="row">
                    <div class="col-12">
                        <div id="Msg"></div>
                        <input type="hidden" value="@EntityID" id="EntityID" name="EntityID" />
                        <input type="hidden" value="@ViewBag.email" id="Email" name="Email" />
                        <div class="form-group">

                            <label for="Password-id-icon">@Tax_Tech.Resources.Resource.Password <span style="color:red">*</span></label>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></span>
                                </div>
                                <input class="form-control form-control-merge" id="password" type="password" name="password" placeholder="@Tax_Tech.Resources.Resource.Password" aria-describedby="password" tabindex="4" />

                            </div>
                        </div>
                        <div class="form-group">

                            <label for="Password-id-icon">@Tax_Tech.Resources.Resource.ConfirmPassword <span style="color:red">*</span></label>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></span>
                                </div>
                                <input class="form-control form-control-merge" id="Confirmpassword" type="password" name="Confirmpassword" placeholder="@Tax_Tech.Resources.Resource.ConfirmPassword" aria-describedby="password" tabindex="5" />

                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" tabindex="4" id="subBtn-1">@Tax_Tech.Resources.Resource.ChangePassword</button>
                        <button id="loadBtn-1" class="btn btn-outline-primary waves-effect hidden btn-load" style="width:100%" type="button" disabled="">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="ml-25 align-middle">@Tax_Tech.Resources.Resource.Loading...</span>
                        </button>
                    </div>
                </div>
    }
}
else
{
                <p> @Tax_Tech.Resources.Resource.ForgetPasswordCodeExpired</p>


} }


        </div>
    </div>
</div>

<div class="col-md-3 col-12"></div>