@using Tax_Tech.Helpers;
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = Tax_Tech.Resources.Resource.Login;
    SelectList EntitiesList= LookupsHelper.GetLookups().EntitiesList(null);
}

<div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
    <h4 class="card-title mb-1">@Tax_Tech.Resources.Resource.WelcometoTaxTech 👋</h4>
    <p class="card-text mb-2">@Tax_Tech.Resources.Resource.PlsSignIntoStartAventure</p>
    @using (Ajax.BeginForm("Login", "Accounts",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "msg",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "success",
            OnBegin = "ShowLoading(1)",
            OnComplete = "HideLoading(1)",

        }, new { @class = "auth-login-form mt-2" }))
    {
        <div id="msg"></div>
        <div class="form-group">
            <label class="form-label" for="login-username">@Tax_Tech.Resources.Resource.Username<span class="text-danger">*</span> </label>
            <input class="form-control" id="login-username" type="text" name="username" placeholder="@Tax_Tech.Resources.Resource.Username" aria-describedby="login-username" autofocus="" tabindex="1" />
        </div>



        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="login-password">@Tax_Tech.Resources.Resource.Password<span class="text-danger">*</span></label><a href="@Url.Action("ForgetPassword", "Accounts")"><small>@Tax_Tech.Resources.Resource.ForgetPassword</small></a>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
                <input class="form-control form-control-merge" id="login-password" type="password" name="password" placeholder="············" aria-describedby="login-password" tabindex="2" />
                <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="login-username">@Tax_Tech.Resources.Resource.Entity<span class="text-danger">*</span></label>
            @{ if (EntitiesList != null)
                {
                    @Html.DropDownList("EntityId", LookupsHelper.GetLookups().EntitiesList(null) as SelectList, Tax_Tech.Resources.Resource.Entity,
                    new
                    {
                        @class = "select2 form-control",
                        @style = "width  100%;",
                        @tabindex = "3"
                    })
                }
                else
                {
                    <h5 class="text-danger">@Tax_Tech.Resources.Resource.ApiDown</h5>
                }}

        </div>
        <button type="submit" class="btn btn-primary btn-block" tabindex="4" id="subBtn-1">@Tax_Tech.Resources.Resource.Login</button>
        <button id="loadBtn-1" class="btn btn-outline-primary waves-effect hidden btn-load" style="width:100%" type="button" disabled="">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="ml-25 align-middle">@Tax_Tech.Resources.Resource.Loading...</span>
        </button>
    }
 </div>
