@using Tax_Tech.Helpers;
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = Tax_Tech.Resources.Resource.SetPassword;
}

<div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
    <h4 class="card-title mb-1">@Tax_Tech.Resources.Resource.WelcometoTaxTech 👋</h4>
    <p class="card-text mb-2">@Tax_Tech.Resources.Resource.PlsSignIntoStartAventure</p>
    @using (Ajax.BeginForm("SetMyPassword", "Accounts",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "msg",
            InsertionMode = InsertionMode.Replace,
           // OnSuccess = "success",
            OnBegin = "ShowLoading(1)",
            OnComplete = "OnChangePassword",

        }, new { @class = "auth-login-form mt-2" }))
    {
        <div id="msg"></div>
        <div class="form-group">
            <label for="login-password">@Tax_Tech.Resources.Resource.OldPassword<span class="text-danger">*</span></label>
            <input id="Oldpassword" name="Oldpassword" type="text" class="form-control" placeholder="@Tax_Tech.Resources.Resource.OldPassword" />
        </div>

        <div class="form-group">
            <label for="login-password">@Tax_Tech.Resources.Resource.NewPassword<span class="text-danger">*</span></label>
            <input id="password" name="password" type="text" class="form-control" placeholder="@Tax_Tech.Resources.Resource.NewPassword" />
        </div>
        <div class="form-group">
                <label for="login-password">@Tax_Tech.Resources.Resource.ConfirmNewPassword<span class="text-danger">*</span></label>
                <input id="Confirmpassword" name="Confirmpassword" type="text" class="form-control" placeholder="@Tax_Tech.Resources.Resource.ConfirmNewPassword" />
        </div>
        <button type="submit" class="btn btn-primary btn-block" tabindex="4" id="subBtn-1">@Tax_Tech.Resources.Resource.Save</button>
        <button id="loadBtn-1" class="btn btn-outline-primary waves-effect hidden btn-load" style="width:100%" type="button" disabled="">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="ml-25 align-middle">@Tax_Tech.Resources.Resource.Loading...</span>
        </button>
    }
</div>

<script src="~/Scripts/Custom/SetPassword.js"></script>
