@model List<Tax_Tech.ApiModels.JobQueue>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-responsive-xl" id="thebasic-datatable">
    <thead>
        <tr>
            <th>@Tax_Tech.Resources.Resource.SessionID</th>
            <th>@Tax_Tech.Resources.Resource.JobTypeTitle</th>
            <th>@Tax_Tech.Resources.Resource.CreationDate</th> <!-- on hover show client details -->
            <th>@Tax_Tech.Resources.Resource.CreatorName</th> <!-- on hover show code title -->           
            <th>@Tax_Tech.Resources.Resource.Status</th>
            <th>@Tax_Tech.Resources.Resource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 25% !important">
                            @item.SessionID
                        </td>
                        <td>
                            @item.JobTypeTitle
                        </td>

                        <td>
                            @item.CreationDate
                        </td>

                        <td>
                            @item.CreatorName
                        </td>
                       
                        <td>
                            @item.JobStatusTitle
                        </td>
                      
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("JobQueueLogSummary", "JobQueue", new { jobId = item.SessionID })" target="_blank">@Tax_Tech.Resources.Resource.Summary</a>
                           
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        <h5 class="text-center">@Tax_Tech.Resources.Resource.NoDataAvailable</h5>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>