@using Tax_Tech.Areas.Configuration.Helpers
@using PagedList
@using PagedList.Mvc
@{
    Tax_Tech.Areas.Configuration.Repository.PermissionRepository _permissionRepository = new Tax_Tech.Areas.Configuration.Repository.PermissionRepository();
    long actionBy = Convert.ToInt32(Session["ID"]);
    var hasPermissionsResult = _permissionRepository.HasPermission(24, actionBy);


}
@model IPagedList<Tax_Tech.ViewModels.VendorViewModel>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-responsive-xl" id="thebasic-datatable">
    <thead>
        <tr>
            <th>@Tax_Tech.Resources.Resource.ERPID</th>
            <th>@Tax_Tech.Resources.Resource.RegInfo</th>
            <th>@Tax_Tech.Resources.Resource.VendorName</th>
            <th>@Tax_Tech.Resources.Resource.Tax</th>
            <th>@Tax_Tech.Resources.Resource.VendorType</th>
            <th>@Tax_Tech.Resources.Resource.Entity</th>
            <th>@Tax_Tech.Resources.Resource.Governate</th>
            <th>@Tax_Tech.Resources.Resource.Status</th>
            <th>@Tax_Tech.Resources.Resource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ERPInternalID
                        </td>
                        <td>
                            @item.PersonalID
                        </td>
                        <td>
                            @item.VendorName
                        </td>
                        <td>
                            @if (item.IsTaxExempted == true)
                            {
                                <span class="text-success">@Tax_Tech.Resources.Resource.Exempted (@item.TaxExmptedCount)</span>
                            }
                            else
                            {
                                <span class="text-primary">@Tax_Tech.Resources.Resource.NotExempted (@item.TaxExmptedCount)</span>
                            }
                        </td>
                        <td>
                            @((VendorTypeEnum)item.VendorAPIType)
                        </td>
                        <td>
                            @item.EntityTitle
                        </td>
                        <td>
                            @item.Governate
                        </td>

                        <td>
                            @if (item.IsActive.HasValue && item.IsActive.Value)
                            {
                                <span>@Tax_Tech.Resources.Resource.Active</span>
                            }
                            else
                            {
                                <span>@Tax_Tech.Resources.Resource.InActive</span>
                            }
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm dropdown-toggle hide-arrow" data-toggle="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="getUpdateVendorPopup('@item.VendorID')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                        <span>@Tax_Tech.Resources.Resource.Edit</span>
                                    </a>

                                    <a class="dropdown-item" href="javascript:void(0);" onclick="getVendorsExemptedTaxes('@item.VendorID')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
                                        <span>@Tax_Tech.Resources.Resource.ExemptedTaxList</span>
                                    </a>

                                    @if (hasPermissionsResult.CustomeRespons.HasPermission != "0")
                                    {
                                        if (item.IsActive.HasValue && !item.IsActive.Value)
                                        {
                                            <a class="dropdown-item" href="javascript:void(0);" onclick="ChangeVendorStatus('@item.VendorID',true)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                                <span>@Tax_Tech.Resources.Resource.SetAsActive</span>
                                            </a>
                                            @*@Ajax.ActionLink(Tax_Tech.Resources.Resource.SetAsActive, "ChangeStatus", "Vendors", new { vendorID = item.VendorID, status = true }, new AjaxOptions
                                                {
                                                    UpdateTargetId = "list",
                                                    OnBegin = "ShowLoading(0)",
                                                    InsertionMode = InsertionMode.Replace,
                                                    HttpMethod = "POST",
                                                    OnComplete = "showAfterActionResult"
                                                }, new { @class = "dropdown-item" })*@
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" href="javascript:void(0);" onclick="ChangeVendorStatus('@item.VendorID',false)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                                <span>@Tax_Tech.Resources.Resource.SetInActive</span>
                                            </a>
                                            @*@Ajax.ActionLink(Tax_Tech.Resources.Resource.SetInActive, "ChangeStatus", "Vendors", new { vendorID = item.VendorID, status = false }, new AjaxOptions
                                                {
                                                    UpdateTargetId = "list",
                                                    OnBegin = "ShowLoading(0)",
                                                    InsertionMode = InsertionMode.Replace,
                                                    HttpMethod = "POST",
                                                    OnComplete = "showAfterActionResult",
                                                    Confirm = Tax_Tech.Resources.Resource.AreyouSuretoSetInactive
                                                }, new { @class = "dropdown-item" })*@
                                        }
                                    }


                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">
                        <h5 class="text-center">@Tax_Tech.Resources.Resource.NoDataAvailable</h5>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", "Vendors", new { filter = ViewBag.Filter, pageNo = page, pageSize = 100 }))