@model Tax_Tech.ApiModels.BankAccount

@{
    ViewBag.Title = "Update Payment";
    List<Tax_Tech.ApiModels.Bank> banks = ViewBag.BankList;
}


<div class="modal fade text-left" id="default" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">@Tax_Tech.Resources.Resource.UpdatePayment</h4>
                <button type="button" class="close" onclick="DismissPopup()" id="updatePaymentModalClose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Create New Form Controls -->
            <div class="modal-body">

                <div id="PopupMsg"></div>

                @using (Ajax.BeginForm("Update", "Payment", null,
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnBegin = "ShowLoading(1)",
                            OnComplete = "showPopUpResult"
                        }, new
                        {
                            @class = "form-horizontal"
                        }))
                {
                    <input type="hidden" name="PaymentAccountID" value="@Model.PaymentAccountID" />

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" for="BankAccountNo">
                                @Tax_Tech.Resources.Resource.BankAccountNo
                                <span class="req">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="@Tax_Tech.Resources.Resource.BankAccountNo" name="BankAccountNo" id="BankAccountNo" tabindex="1" value="@Model.BankAccountNo" />
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" for="BankAccountIban">
                                @Tax_Tech.Resources.Resource.IbanNo
                                <span class="req">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="@Tax_Tech.Resources.Resource.IbanNo" name="BankAccountIban" id="BankAccountIban" tabindex="2" value="@Model.BankAccountIBAN" />
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" for="SwiftCode">
                                @Tax_Tech.Resources.Resource.SwiftCode
                                <span class="req">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="@Tax_Tech.Resources.Resource.SwiftCode" name="SwiftCode" id="SwiftCode" tabindex="3" value="@Model.SwiftCode" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="BranchAddress">
                                @Tax_Tech.Resources.Resource.Adderss
                                <span class="req">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="@Tax_Tech.Resources.Resource.Adderss" name="BranchAddress" id="BranchAddress" tabindex="4" value="@Model.BranchAddress" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="BankID">
                                @Tax_Tech.Resources.Resource.Bankname
                                <span class="req">*</span>
                            </label>
                            @if (banks != null)
                            {
                                @Html.DropDownList("BankID", new SelectList(banks, "BankID", "BankName", Model.BankID), Tax_Tech.Resources.Resource.Bankname, new { @class = "form-control form-control-md select2", tabindex = "5" })
                            }
                            else
                            {
                                <div class="req">@Tax_Tech.Resources.Resource.ApiDown</div>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="AccountErp">
                                @Tax_Tech.Resources.Resource.ERPID
                                <span class="req">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="@Tax_Tech.Resources.Resource.ERPID" name="AccountErp" id="AccountErp" tabindex="6" value="@Model.PaymentAccountERPID" />
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary" id="subBtn-1" tabindex="7">@Tax_Tech.Resources.Resource.UpdatePayment</button>
                            <div class="form-group">
                                <button id="loadBtn-1" class="btn btn-outline-primary waves-effect hidden btn-load" type="button" disabled="">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="ml-25 align-middle">@Tax_Tech.Resources.Resource.Loading...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script>
    $('.select2').each(function () {
        var $this = $(this);
        $this.wrap('<div class="position-relative"></div>');
        $this.select2({
            // the following code is used to disable x-scrollbar when click in select input and
            // take 100% width in responsive also
            dropdownAutoWidth: true,
            width: '100%',
            dropdownParent: $this.parent()
        });
    });
</script>