
@{
    ViewBag.Title = "Delivery";
}

<section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="dt-action-buttons text-left d-flex">
                        <a href="javascript:void(0);" onclick="getCreateDeliveryModal()"  class="btn btn-outline-secondary">@Tax_Tech.Resources.Resource.New</a>
                        <div id="main-err"></div>
                        <div class="btn-group" style="margin-left: 10px;">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Tax_Tech.Resources.Resource.Export
                            </button>
                            <div class="dropdown-menu">
                                @*<a class="dropdown-item" href="javascript:void(0);">PDF</a>*@
                                <a class="dropdown-item" href="@Url.Action("ExportToExecl", "")">@Tax_Tech.Resources.Resource.Excel</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card-body" id="DeliveryContainer">
                    <h4 class="text-center">@Tax_Tech.Resources.Resource.Loading...</h4>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Areas/Configuration/Scripts/Custom/Delivery.js"></script>